name: CI/CD Pipeline node.js

on:
  push:
    branches: [ "main", "feature/github_pages" ]
  pull_request:
    branches: [ "main", "feature/github_pages" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/feature/github_pages'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: npm install

      - name: Build the project
        run: npm run build --if-present

      - name: Deploy to GitHub Pages
        uses: Renaud/github-pages-deploy-action@v4.1.0
        with:
          branch: gh-pages
          folder: .  
          token: ${{ secrets.GITHUB_TOKEN }}



# name: CI/CD Pipeline node.js

# on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

# jobs:
#  build:

#    runs-on: ubuntu-latest

#    strategy:
#      matrix:
#        node-version: [18.x, 20.x, 22.x]
#    steps:
#      - uses: actions/checkout@v4
#      - name: Use Node.js ${{ matrix.node-version }}
#        uses: actions/setup-node@v4
#        with:
#          node-version: ${{ matrix.node-version }}
#          cache: 'npm'
#      - run: npm ci
#      - run: npm run build --if-present
#      - run: npm test